| package app
| 
| import (
| 	"fyne.io/fyne/v2"
| 	"os"
| 	"path"
| 	"#{pkg}/tool"
|   "#{pkg}/ui"
| )
| 
| type #{ModelList}Ui struct {
| 	App *UnitApp
| 	win fyne.Window
| 
| 	meta    *ui.LayoutMeta
| 	content *fyne.Container
| }
| 
| func (u *#{ModelList}Ui) init() {
| 	u.meta = ui.NewLayoutMeta()
| 	cwd, _ := os.Getwd()
| 	doc := tool.ParseHtml(path.Join(cwd, "./xml/#{modelList}.xml"))
| 	u.meta = ui.NewLayoutMeta()
| 	u.content = ui.Layout(doc, u.meta).(*fyne.Container)
| }
| 
| func (u *#{ModelList}Ui) Open() fyne.Window {
| 
| 	win := u.App.FApp.NewWindow("列表")
| 	u.win = win
| 
| 	u.init()
| 
| 	u.win.SetContent(u.content)
| 
| 	u.win.Show()
| 
| 	u.fetch#{ModelList}()
| 
| 	return win
| }
| 
| func (u *#{ModelList}Ui) fetch#{ModelList}() {
|   
| }
| 