| package api
| 
| import (
| 	"#{pkg}/config"
| 	"#{pkg}/form"
| )
| 
| func #{Model}List(#{model} *form.List#{Model}) *Res {
| 	return PostJson(config.ApiServer+"/#{model}/list", #{model})
| }
| 
| func #{Model}Create(#{model} *form.#{Model}) *Res {
| 	return PostJson(config.ApiServer+"/#{model}/create", #{model})
| }
| 
| func #{Model}Update(#{model} *form.#{Model}) *Res {
| 	return PostJson(config.ApiServer+"/#{model}/update", #{model})
| }
| 
| func #{Model}Delete(#{model} *form.Delete#{Model}) *Res {
| 	return PostJson(config.ApiServer+"/#{model}/delete", #{model})
| }
|