| package router
| 
| import (
|   "#{pkg}/controller"
| 	"github.com/gin-gonic/gin"
| )
| 
| func #{Model}Router(g *gin.Engine) {
|   g.POST("/#{model}/create", controller.#{Model}Create)
|   g.POST("/#{model}/delete", controller.#{Model}Delete)
|   g.POST("/#{model}/update", controller.#{Model}Update)
| }