| package router
| 
| import (
|   "#{pkg}/controller"
|   "ginUnityAi/middleware"
| 	"github.com/gin-gonic/gin"
| )
| 
| func #{Model}Router(g *gin.Engine) {
|   #{model} := g.Group("/api/v1/#{model}")
|	#{model}.Use(middleware.JwtAuth(&middleware.JwtAuthOpt{Must: true}))
|
|	{
|		#{model}.POST("/list", controller.#{Model}List)
|		#{model}.POST("/create", controller.#{Model}Create)
|		#{model}.POST("/delete", controller.#{Model}Delete)
|		#{model}.POST("/update", controller.#{Model}Update)
|	}
|
| }