| package service
| 
| import (
| 	"unityAi/api"
| 	"unityAi/form"
| )
| 
| func #{Model}List(#{model} *form.List#{Model}) []interface{} {
| 	res := api.#{Model}List(#{model})
| 	if res.State == "ok" {
| 		return res.Data.([]interface{})
| 	}
| 	return nil
| }
| 
| func #{Model}Create(#{model} *form.#{Model}) interface{} {
| 	res := api.#{Model}Create(#{model})
| 	if res.State == "ok" {
| 		return res.Data.(interface{})
| 	}
| 	return nil
| }
| 
| func #{Model}Update(#{model} *form.#{Model}) bool {
| 	res := api.#{Model}Update(#{model})
| 	if res.State == "ok" {
| 		return true
| 	}
| 	return false
| }
| 
| func #{Model}Delete(#{model} *form.Delete#{Model}) bool {
| 	res := api.#{Model}Delete(#{model})
| 	if res.State == "ok" {
| 		return true
| 	}
| 	return false
| }
| 